body {
    font-family: 'Ramabhadra', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
@media screen and (max-width: 1260px) {
    body {
        display: grid;
        grid-template-rows: 8% 15% repeat(5, 1fr);
        grid-template-columns: 1fr;
        margin: 1em;
    }
    .alert-info {
        background-color: #ccffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #cccccc;
        padding: 2.5em;
    }
    .alert-info a {
        font-size: 2.5em;
        color: black;
        text-decoration: none;
    }
    h1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        font-size: 5em;
        margin: 0;
        padding-top: 0;
        padding-bottom: .5em;
    }
    ul.nav-links {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 2em;
        list-style: none;
        padding: 0;
    }
    .nav-links a {
        background-color: #cccccc;
        display: flex;
        justify-content: center;
        grid-gap: 2em;
        font-size: 2.3em;
        padding: 1em;
        text-underline-offset: 5px;
    }
    .header-img {
        display: flex;
        justify-content: center;
        /*height: 339px;*/
        width: 100%;
        /*margin: 0;*/
    }









    /*nav {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    list-style: none;*/
    /*    !*display: grid;*!*/
    /*    !*grid-template-rows: repeat(4, 1fr);*!*/
    /*}*/

    /*nav a {*/
    /*    display: flex;*/
    /*    background-color: #cccccc;*/
    /*    width: 100%;*/

    /*}*/

}
