body {
    font-family: 'Ramabhadra', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 35% 40% 5% 10%;
    grid-template-areas:
            "alert-info hidden-on-desktop alert-info hidden-on-desktop alert-info hidden-on-desktop"
            "h1 h1 ";
}
@media screen and (min-width: 768px) {
    #nav-links {
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
    }
}
@media screen and (min-width: 992px) {
    h1 {

    }
}
#nav-links {

}
#main {

}
div
.sub-section {

}